<div class="panel panel-default" style="margin-bottom: 0px;">

    <div class="panel-heading">
        <h3 class="panel-title">Betaling</h3>
    </div>

    <div class="panel-body">
        <div class="col-md-6">


            <div class="form-group">
                <label>
                    Navn på kortholder
                    <input name="kortholder" class="form-control" required placeholder="Fullt navn" type="text" autocomplete="cc-name">
                </label>
            </div>

            <div class="form-group">
                <label>
                    Kortnummer
                    <input name="kortnummer" class="form-control" required placeholder="kortnummer" type="number" autocomplete="cc-number">
                </label>
            </div>

            <div class="form-group">
                <label>
                    CVC
                    <input name="cvc" class="form-control" required placeholder="CVC" type="number" autocomplete="cc-csc">
                </label>
            </div>

            <div class="form-group">
                <label>
                    Utløper
                    <input name="utlop" class="form-control" required placeholder="MM-ÅÅ" autocomplete="cc-exp">
                </label>
            </div>

        </div>

        <div class="col-md-6">
            <p>BETALINGSINFORMASJON</p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Hva</th>
                            <th>Pris</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            Flybiletter
                        </td>
                        <td>1049,-</td>

                    </tr>
                </table>
            </div>

            <p>Totalbeløp:</p>

        </div>

    </div>

    <div class="panel-footer">
        <button class="btn btn-success">Bekreft informasjon</button>
        <button class="btn btn-danger" data-dismiss="modal">Avbryt</button>
    </div>
</div>


