@model List<Flybilletter.Models.Flygning>

@if (Model == null)
{
    <h3>Feil. Uglydig søk-parametre</h3>
}
else
{

    <h3>Flygninger:</h3>
    <ul>
        @foreach(var flygning in Model)
        {
            <li>@flygning.Rute.Fra.Navn - @flygning.Rute.Til.Navn - @flygning.AvgangsTid</li>
        }
    </ul>
}
