@using (Html.BeginForm("ReferanseSok", "Home", FormMethod.Post, new {@class = "form-inline", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="referanse">Referanse</label>
        <input type="text" class="form-control" name="referanse">
        <button type="submit" class="btn btn-default">Finn referanse</button>
    </div>
}
