
@{
    ViewBag.Title = "Index";
}

<h2>Flybiletter - Forside</h2>

@Html.Partial("_ReferanseSok")

<h4>Referanser (FOR DEBUGGING ONLY)</h4>
@foreach (string referanse in ViewBag.Referanser)
{
    <p> @referanse </p>
}

