<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/38f81477-5a3b-45aa-83eb-7e41bd6e07e7/resourcegroups/Flyplass/providers/Microsoft.Web/sites/FlybilletterWebApps</ResourceId>
    <ResourceGroup>Flyplass</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flybilletterwebapps.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>flybilletterwebapps.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FlybilletterWebApps</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FlybilletterWebApps</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Flybilletter.Models.DB" Order="1" Enabled="False">
          <Destination Path="Data Source=flyplass.database.windows.net;Initial Catalog=master;Persist Security Info=True;User ID=flyplass;Password=WebappsOblig1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Flybilletter.Models.DB, Flybilletter" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Flybilletter" Order="2" Enabled="True">
          <Destination Path="Data Source=flyplass.database.windows.net;Initial Catalog=FlyplassDatabase;Persist Security Info=True;User ID=flyplass;Password=WebappsOblig1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|FlybilletterDatabase.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Flybilletter_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source= (LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|FlybilletterDatabase.mdf;Integrated Security = True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Flybilletter-Web.config Connection String">
      <ParameterValue>Data Source=flyplass.database.windows.net;Initial Catalog=FlyplassDatabase;Persist Security Info=True;User ID=flyplass;Password=WebappsOblig1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Flybilletter.Models.DB-Web.config Connection String">
      <ParameterValue>Data Source=flyplass.database.windows.net;Initial Catalog=FlyplassDatabase;Persist Security Info=True;User ID=flyplass;Password=WebappsOblig1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Flybilletter.Models.DB" />
  </ItemGroup>
</Project>